<!doctype html>
{% include "head.html" %}
<body>
    <div class="wrap">
        <main class="container">
            {% include "header.html" %}
            <section>
                <form class="file_box" id="photo_form">
                    <div class="content">
                        <span class="title">Upload a File</span>
                            <p class="message">Select a file to upload from your computer or device.</p>
                            
                        <div class="actions">
                            <label for="file" class="button upload-btn">Choose File
                                <input hidden="" type="file" id="file" multiple='multiple'>
                            </label>
                        </div>
                        <ul class="upload_result">
                            
                        </ul>
                    </div>
                </form>
                <div class="btn_box">
                    <button id="text-button" class="button btn img_send">질문</button>
                </div>
            </section>
            <section>
                <div class="answer_box">
                    <strong>ANSWER</strong>
                    <ul class="answer_list">
                        
                    </ul>
                </div>
            </section>
        </main>
    </div>
    <script>
        $(document).ready(function(){
            // 파일 첨부기능
            many_file = [];

            $("#file").on("change",function(){
                // ...은 배열의 개별요소로 들어가게 해줌
                const selectedFile = [...this.files];
                many_file.push(...selectedFile);
                let file_tag = '';

                // 파일 리스트 추가
                for (i in many_file){
                    file_tag += `
                    <li class="file-uploaded">
                        <p class="file_name ellipsis">${many_file[i]['name']}</p>
                        <button type="button" class="btn file_del" tag=${i}>X</button>
                    </li>`;
                }
                $(".upload_result").html(file_tag)
            });

            // 동적으로 생성된 돔에서 이벤트가 발생하지 않기때문에 
            // 돔이 생성된 후 버튼 이벤트가 실행되게 하는 함수
            $(document).on("click",".btn",function(){
                let index = $(this).attr('tag')
                // 특정 인덱스 삭제 splice(삭제시작행, 몇개)
                many_file.splice(index, 1);
                $(this).parent().remove();
            });


        });  
    </script>
</body>